<header>
  <div class="logo">MyPortfolio</div>

  <!-- Desktop Navigation -->
  <nav class="nav-links" [class.open]="menuOpen">
    <a routerLink="/home" routerLinkActive="active-link" (click)="closeMenu()"><b>Home</b></a>
    <a routerLink="/about" routerLinkActive="active-link" (click)="closeMenu()"><b>About</b></a>
    <a routerLink="/skills" routerLinkActive="active-link" (click)="closeMenu()"><b>Skills</b></a>
    <a routerLink="/projects" routerLinkActive="active-link" (click)="closeMenu()"><b>Projects</b></a>
    <a routerLink="/contact" routerLinkActive="active-link" (click)="closeMenu()"><b>Contact</b></a>
    <a routerLink="/contact" class="mobile-action-btn" (click)="closeMenu()">Hire Me</a>
  </nav>

  <!-- Desktop Action Buttons -->
  <div class="nav-actions">
    <button class="outline-btn" routerLink="/contact">
      Hire Me
    </button>
    <a class="primary-btn" href="assets/jnana_teja_resum.pdf" target="_blank">
      Resume
    </a>
  </div>

  <!-- Hamburger -->
  <div class="menu-icon" (click)="toggleMenu()">
    ☰
  </div>
</header>