* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

main section {
  min-height: 100vh;
  /* padding: 80px 0px; */
  border-bottom: 1px solid #eee;
}

#home {
  padding: 0 !important;
}

main {
  margin-top: 70px;
}
html {
  scroll-behavior: smooth;
}


